<h1>Our Products</h1>

<ul>
  <% @products.each do |product| %>
    <!-- <li> <%= product.name %> </li><li> <%= product.name %> </li> -->
    <li> <%= link_to product.name, product_path(product) %> </li>
  <% end %>
</ul>

<p><%= link_to "Add New Product", new_product_path %></p>
